/.vscode
/assignment.py
/bankingsys.py
/Book_detail.txt
/calculator_project
/dictionary.py
/fileHandling.py
/forloop.py
/forloop1.py
/frame3.py
/frame4.py
/frames.py
/frames1.py
/frames2.py
/functions.py
/game.py
/game2.py
/h1.py
/hello.py
/ifstatement.py
/jumpStatement.py
/keylogger.py
/lambda.py
/list.py
/listFunctions.py
/loops.py
/name.dat
/NestedLoop.py
/packages
/python -.txt
/question.py
/stringfunc.py
/stringfunctions2.py
/tuple.py